body {
    background: #302C42;
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

.allheading {
    font-size: 36px;
}

.allpara {
    font-size: 36px;
    font-weight: 200;
}

p {
    font-weight: 300;
}

.container {
    padding: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    margin-right: 15px;
}

.logo-container {
    display: flex;
}

.header-list-container {
    width: 500px;
}

.header-list-container ul {
    display: flex;
    justify-content: space-around;
}

.header-list-container ul li {
    list-style-type: none;
    color: #FFFFFF;
}

.header-list-container a {
    text-decoration: none;
    color: white;
}

.contact-button {
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    color: white;
    background-color: #302C42;
    padding: 15px 30px;
    cursor: pointer;
    margin-right: 36px;
}

.join-button {
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    border-radius: 40px;
    color: #343045;
    padding: 15px 30px;
    cursor: pointer;
}

/***************************************** FIRST SECTION **************************************/

.first-section {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.first-section-heading {
    font-size: 46px;
    font-weight: 700;
}

.first-section-heading-span {
    color: #C0B7E8;
    /* color: #8176AF */
}

.first-section-para {
    line-height: 30px;
    font-weight: 200;
    margin-bottom: 80px;
    margin-top: 56px;
}

.first-section-btn {
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    border-radius: 40px;
    padding: 15px 30px;
    color: #343045;
}

.first-section-img {
    background: #A3A3A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 100px 100px 240px;
    border: 20px solid #3A3456F2;
}

.first-section-dir {
    position: relative;
    top: 10px;
    left: 20px;
}

/**************************************** INFO SECTION ***************************************/

.info-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    border-radius: 90px;
    margin-top: 60px;
    padding: 30px;
}

.info-img {
    position: relative;
    top: 7px;
    right: 14px;
}

.info-container {
    display: flex;
    align-items: center;
}


/********************************** INTRODUCTION SECTION **************************************/

.introduction {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 90px;
}

.introduction-heading {
    font-size: 36px;
}

.introduction-para {
    font-size: 36px;
    font-weight: 200;
    margin-top: 10px;
}

.introduction-para-2 {
    margin-top: 25px;
    line-height: 30px;
}

.introduction-img {
    width: 150px;
    position: relative;
    left: 280px;
    top: -90px;
}


/********************************** ABOUT SECTION ****************************/

.about {
    display: flex;
    justify-content: space-between;
}

.about-img {
    border-radius: 240px 100px;
}

.about-para {
    line-height: 30px;
}

.about-btn {
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    border-radius: 40px;
    color: #343045;
    padding: 15px 30px;
}


/**************************** BUILD SECTION ***************************/

.build-para {
    line-height: 30px;
}


/***************************** CARD SECTION **************************/

.card-section {
    display: flex;
    justify-content: space-between;
}

.card-section-container {
    width: 310px;
    height: 551px;
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
    border-radius: 40px;
    text-align: center;
}

.card-img {
    width: 185px;
    border: 20px solid #0E0E0E52;
    border-radius: 50%;
    margin-top: 20px;
}

.card-heading {
    font-size: 24px;
}

.card-para {
    font-size: 12px;
    text-align: left;
    margin-top: 30px;
    padding-left: 40px;
    line-height: 24px;
}

.card-btn {
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    border-radius: 40px;
    color: #343045;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 20px;
}

hr {
    width: 60%;
}


/******************************* HARDWARE SECTION *************************/

.hardware {
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(0deg, rgba(48, 44, 66, 0.79), rgba(48, 44, 66, 0.79)), url(img/hardware.svg);
    /* background: #211E2E; */
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    border-radius: 160px;
    height: 305px;
    margin-top: 114px;
}

.hardware-link-container {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
    border-radius: 50%;
    border: 10px solid #211E2E;
}

.hardware-img {
    margin-top: 30px;

}

.hardware-heading {
    padding-top: 99px;
}


/***************************** PARTNERS SECTION ***********************/

.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

/***************************** HOW WE BUILD ************************/
.how-build {
    margin-top: -20px;
}

.intr-img {
    width: 150px;
    position: relative;
    left: 340px;
    top: -90px;
}


/******************************* NUMBERS SECTION ****************************/

.numbers {
    display: flex;
    justify-content: space-between;
}

.numbers-container {
    width: 150px;
    height: 150px;
    background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 89.33%);
    border-radius: 50%;
    border: 20px solid #211E2E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers-heading {
    color: #343045;
    font-size: 64px;

}


/*********************** LINKS SECTION *************************/

.links {
    display: flex;
    justify-content: space-between;
}

.links-container {
    display: flex;
}

.links-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.links-img {
    position: relative;
    top: -15px;
    margin-right: 9px;
}

.links-interaction {
    margin-left: -50px;
}

.links-deploy {
    margin-right: 10px;
}


/**************************** HYDRA SECTION **************************/

.hydra {
    background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    margin-top: 112px;
}

.hydra-heading-container {
    text-align: center;
    padding-top: 90px;
}

.hydra hr {
    width: 414px;
}

.hydra-input {
    width: 524px;
    height: 72px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    /* background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%); */
    background: transparent;
    font-size: 14px;
    color: white;
    padding-left: 42px;
}

.hydra-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 65px;
}

.hydra-input-subject {
    width: 1108px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    background-color: transparent;
    height: 72px;
    color: white;
    padding-left: 42px;
    margin-top: 1rem;
}

.hydra-textarea {
    width: 1108px;
    background-color: transparent;
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    padding-left: 42px;
    padding-top: 24px;
    font-size: 14px;
}

.hydra-other-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hydra-btn-container {
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 5rem;
}

/************************* COMPONENTS SECTION **********************/

.components {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 120px;
}

.components-social-media {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    margin-top: -25px;
}

.components-img-container {
    display: flex;
    align-items: center;
}

.social-media-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 200px;
}

/************************** FOOTER SECTION ***************************/

.footer-hr {
    width: 100%;
    margin-top: 80px;
}

.footer {
    text-align: center;
    margin-top: 49px;
}

.footer p {
    font-size: 14px;
    font-weight: 700;
}